# ==============================
# Server
# ==============================

PORT=5000

# ==============================
# PostgreSQL Database
# ==============================

DB_USER=postgres
DB_HOST=localhost
DB_NAME=ringwave_db
DB_PASSWORD=your_database_password
DB_PORT=5432

DATABASE_URL=postgres://postgres:your_database_password@localhost:5432/ringwave_db

# ==============================
# JWT
# ==============================

JWT_SECRET=your_super_secure_random_secret

JWT_EXPIRES_IN=7d

ACCESS_TOKEN_EXPIRES_IN=15m

REFRESH_TOKEN_EXPIRES_IN_DAYS=7

# ==============================
# Frontend
# ==============================

FRONTEND_URL=http://localhost:5173
